div {
  margin: 500;
  padding-left: 10px;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  color: midnightblue;
}

button {
   border-radius: 15px;  
   padding: 10px;
   margin: 10px;
   background-color:rgb(208, 230, 238);
}

table {
    border-spacing: 10px
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
